body {
    background-color: $c-base;
    line-height: 1.8;
    letter-spacing: 1.05px;
    font-family: $ff-base;
}

a{
  color: inherit;
  &:link,&:visited,&:hover,&::active{
    color: inherit;
  }
}

img {
    max-width: 100%;
}
