footer
  .container
    ul
      li
        a(href="http://www.teach4taiwan.org", target="_blank") 官方網站
      li
        a(href="https://teach4taiwan.wordpress.com", target="_blank") 為台灣而教故事棧
      li
        a(href="http://www.teach4taiwan.org/subscribe-newsletter", target="_blank") 訂閱電子報
      li
        a(href="https://web.npois.com.tw/npopay/tft/index.asp", target="_blank") 支持我們
      li
        ul.social-links
          li
            a(href="https://www.facebook.com/teach4taiwan", target="_blank") facebook
          li
            a(href="mailto:tft@teach4taiwan.org", target="_blank") mail
      li
        a(href="http://www.teach4taiwan.org", target="_blank") logo
