section.grid-list
  figure.grid-item.grid-item--upload
    figcaption.sign
      i.fa.fa-plus(aria-hidden="true")
    a(href="upload.html")
      span.text 上傳
  - for(let i = 0; i < 23; i++)
    figure.grid-item.grid-item--grid(data-num=i)
      .grid-item__thumbnail
        img.thumbnail(src="http://placebeard.it/300/200?"+i, alt="300x200")
      .grid-item__detail(href="#", title="title")
        a.img-container
          img.img-full(src="http://placebeard.it/600/400?"+i, alt="600x400")
        .content-container
          h2.title
            span 我們這一代是
            span.title-em 希望對社會造成影響
            span 的一代
          h3.subtitle
            span 教育是
            span.title-em 帶著孩子建立自己的世界觀
          p.author
            span.age 21-25歲
            span.identity 攝影師
