.grid-list {
    display: flex;
    flex-wrap: wrap;
    .grid-item {
        margin: 0;
        width: 50%;
        filter: grayscale(1);
        cursor: pointer;
        transition: .1s ease-in-out;
        &:hover {
            opacity: .95;
            filter: grayscale(0);
        }
        @include for-tablet-portrait-up {
            width: calc(100% / 3);
        }
        @include for-tablet-landscape-up {
            width: calc(100% / 4);
        }
        @include for-desktop-up {
            width: calc(100% / 6);
        }
        &--upload {
            position: relative;
            background-color: darken($c-primary, 10%);
            filter: none;
            height: 0;
            padding-top: calc(50% / 1.5);
            @include for-tablet-portrait-up {
                padding-top: calc(100% / 4.5);
            }
            @include for-tablet-landscape-up {
                padding-top: calc(100% / 6);
            }
            @include for-desktop-up {
                padding-top: calc(100% / 9);
            }
            .sign {
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;
                top: 0;
                font-size: 2em;
                justify-content: center;
                align-items: center;
                transition: opacity .3s .1s ease-in-out, background .3s ease-in-out;
            }
            .text {
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;
                top: 0;
                font-size: 2em;
                justify-content: center;
                align-items: center;
                transition: opacity .3s .1s ease-in-out;
                opacity: 0;
            }
            &:hover {
                background-color: $c-primary;
                .sign {
                    opacity: 0;
                }
                .text {
                    opacity: 1;
                }
            }
        }
        &__thumbnail {
            display: flex;
            align-items: center;
            position: relative;
        }
        &__detail {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            z-index: 800;
            top: auto;
            left: 0;
            visibility: hidden;
            opacity: 0;
            width: 100%;
            max-height: 0;
            text-align: left;
            overflow: hidden;
            background: $c-base;
            transition: .7s ease-in-out;
            .img-container {
                width: 60%;
            }
            .content-container {
                flex: 1;
                padding: 0 2em;
            }
        }
        &.is-opened {
            height: 600px;
            filter: none;
            .grid-item__thumbnail {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 15px 10px;
                    border-color: transparent transparent #ffffff transparent;
                }
            }
            .grid-item__detail {
                visibility: visible;
                opacity: 1;
                padding: 10px;
                max-height: 1000px;
            }
        }
    }
}
